<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>ng-poznan 12.06.2014</title>

    <meta name="description" content="Moc dyrektyw w AngularJS">
    <meta name="author" content="Kamil Augustynowicz">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/default.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', include the PDF print sheet -->
    <script>
      if( window.location.search.match( /print-pdf/gi ) ) {
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = 'css/print/pdf.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
      }
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <!-- <section data-background="/images/background/random_grey_variations/random_grey_variations_@2X.png" data-background-repeat="repeat" data-background-size="400px">
        <section data-markdown data-background="/images/background/congruent_pentagon/congruent_pentagon.png" data-background-repeat="repeat" data-background-size="600px">
        <section data-background="/images/background/sativa/sativa.png" data-background-repeat="repeat" data-background-size="250px"> -->
        <section data-background="/images/background/escheresque_ste/escheresque_ste_@2X.png" data-background-repeat="repeat" data-background-size="58px">
          <h1>Moc dyrektyw</h1>
          <h3>ng-poznan 12.06.2014</h3>
          <p>
            <small><span>Kamil Augustynowicz</span> / <a href="http://twitter.com/AugKamil">@AugKamil</a></small>
          </p>
        </section>

        <section data-background="/images/background/escheresque_ste/escheresque_ste_@2X.png" data-background-repeat="repeat" data-background-size="58px">
          <h3>Co was czeka?</h3>
          <p>Jak zadeklarować dyrektywę</p>
          <p>Scope i przekazywanie parametrów</p>
          <p>Gdzie wrzucić logikę</p>
          <p>Gotowe dyrektywy w AngularJS</p>
        </section>

        <section data-background="/images/background/escheresque_ste/escheresque_ste_@2X.png" data-background-repeat="repeat" data-background-size="58px" data-background-repeat="repeat">
          <pre><code data-trim contenteditable>
<div class="col-sm-12">
  <h3>"Powrót do Przyszłości"</h3>
  <div class="col-sm-12">
    <span>Ocena:</span> 3
  </div>
  <div class="col-sm-12">
    <h4>
      Trailers:
    </h4>
    <div>
      <a href="/video1">Trailer 1</a>
    </div>
  </div>
  <div class="col-sm-12">
    <h4>
      Recenzje:
    </h4>
    <div>
      <a href="/review1.html">Review 1</a>
    </div>
  </div>
</div>
          </code></pre>
          <div><h4>Co łatwiej zrozumieć?</h4></div>
          <pre><code data-trim contenteditable>
<div class="col-sm-12">
  <movie-title></movie-title>
  <movie-rating></movie-rating>
  <movie-trailers></movie-trailers>
  <movie-reviews></movie-reviews>
</div>
          </code></pre>
          </script>
        </section>

        <section data-background="/images/background/escheresque_ste/escheresque_ste_@2X.png" data-background-repeat="repeat" data-background-size="58px" data-background-repeat="repeat">
          <h3>Definicja dyrektywy</h3>
          <pre><code data-trim contenteditable>
angular.module "movieApp", []
.directive "movieTitle", ->
  restrict: String
  priority: Number
  terminal: Boolean
  template: String or Template Function:
    (tElement, tAttrs) ->
      ...
  templateUrl: String
  replace: Boolean or String
  scope: Boolean or Object
  transclude: Boolean
  controller: String or
    (scope, element, attrs, transclude, otherInjectables) ->
      ...
  controllerAs: String
  require: String
  link: (scope, iElement, iAttrs) ->
    ...
  compile:
     (tElement, tAttrs, transclude) ->
      ...
          </code></pre>
        </section>

        <section data-transition="none" data-background="/images/background/escheresque_ste/escheresque_ste_@2X.png" data-background-repeat="repeat" data-background-size="58px">
          <h3>Dyrektywa jako element</h3>
          <p><pre><code data-trim contenteditable>
angular.module 'movieApp',[]
.directive 'movieTitle', ->
  restrict: "E"
    ...
          </code></pre></p>
          <pre><code data-trim contenteditable>
            <movie-title></movie-title>
          </code></pre>
        </section>

        <section data-transition="none" data-background="/images/background/escheresque_ste/escheresque_ste_@2X.png" data-background-repeat="repeat" data-background-size="58px">
          <h3>Dyrektywa jako atrybut</h3>
          <p><pre><code data-trim contenteditable>
angular.module 'movieApp',[]
.directive 'movieTitle', ->
  restrict: "A"
    ...
          </code></pre></p>
          <pre><code data-trim contenteditable>
            <div movie-title></div>
          </code></pre>
        </section>

        <section data-transition="none" data-background="/images/background/escheresque_ste/escheresque_ste_@2X.png" data-background-repeat="repeat" data-background-size="58px">
          <h3>Dyrektywa jako klasa</h3>
          <p><pre><code data-trim contenteditable>
angular.module 'movieApp',[]
.directive 'movieTitle', ->
  restrict: "C"
    ...
          </code></pre></p>
          <pre><code data-trim contenteditable>
            <div class="movie-title"></div>
          </code></pre>
        </section>

        <section data-transition="none" data-background="/images/background/escheresque_ste/escheresque_ste_@2X.png" data-background-repeat="repeat" data-background-size="58px">
          <h3>Dyrektywa jako komentarz</h3>
          <p><pre><code data-trim contenteditable>
angular.module 'movieApp',[]
.directive 'movieTitle', ->
  restrict: "M"
    ...
          </code></pre></p>
          <pre><code data-trim contenteditable>
            <!--directive:movie-title-->
          </code></pre>
        </section>

        <section data-transition="none" data-background="/images/background/escheresque_ste/escheresque_ste_@2X.png" data-background-repeat="repeat" data-background-size="58px">
          <h3>scope</h3>
          <pre><code data-trim contenteditable>
movie_app = angular.module 'movieApp',[]

movie_module.directive 'movieReview', ->
  restrict: "E"
  scope: {}
  template:
    '<input type="text" ng-model="review"></input>'+
    '<span>Twoja recenzja: {{review}}</span>'

          </code></pre>
          <pre><code data-trim contenteditable>
<div ng-app="movieApp">
  <div ng-controller="AppCtrl">
    <movie-review></movie-review>
    <movie-review></movie-review>
    <movie-review></movie-review>
  </div>
</div>
          </code></pre>
        </section>

        <section data-transition="none" data-background="/images/background/escheresque_ste/escheresque_ste_@2X.png" data-background-repeat="repeat" data-background-size="58px">
          <h3>scope</h3>
          <pre><code data-trim contenteditable>
movie_app = angular.module 'movieApp',[]

movie_app.controller "AppCtrl", ($scope) ->
  $scope.showInfo = (title) ->
    alert "Dodaj do ulubionych filmów: " + title

movie_app.directive 'movieTitle', ->
  restrict: "E"
  scope:
    title: "@"
    favoriteMovie: "&"
  template:
    '<div ng-click="favoriteMovie({title: title})">'+
    '<h3>{{title}}</h3>'+
    '</div>'
  ...
          </code></pre>
          <pre><code data-trim contenteditable>
<div ng-app="movieApp">
  <div ng-controller="AppCtrl">
    <movie-title title="Powrót do
    przyszłości" favorite-movie="showInfo(title)">
    </movie-title>
  </div>
</div>
          </code></pre>
        </section>

        <section data-transition="none" data-background="/images/background/escheresque_ste/escheresque_ste_@2X.png" data-background-repeat="repeat" data-background-size="58px">
          <h3>scope</h3>
          <pre><code data-trim contenteditable>
movie_app = angular.module 'movieApp',[]

movie_app.controller "AppCtrl", ($scope) ->
  $scope.rates = ["Tragedia", "Słaby", "Średni", "Dobry", "Rewelacyjny"]

movie_app.directive 'movieRating', ->
  restrict: "E"
  scope:
    rate: "="
    rates: "="
  template:
    '<div><div>Twoja ocena: {{rate}}</div>'+
    '<select ng-model="rate" ng-options="rate for rate in rates">'+
    '</select></div>'
  ...
          </code></pre>
          <pre><code data-trim contenteditable>
<div ng-app="movieApp">
  <div ng-controller="AppCtrl">
    <span>Ocena poza scopem: {{rate}}</span>
    <select ng-model="rate" ng-options="rate for rate in rates"></select>
    <movie-rating rate="rate" rates="rates"></movie-rating>
  </div>
</div>
          </code></pre>
        </section>

        <section data-background="/images/background/escheresque_ste/escheresque_ste_@2X.png" data-background-repeat="repeat" data-background-size="58px">
          <h3>link / controller</h3>
          <pre><code data-trim contenteditable>
movie_app = angular.module 'movieApp',[]

movie_app.directive 'movieRating', ->
    ...
    link: (scope, element, attrs, ctrls) -> 

      element.bind 'mouseover', ->
        element.css 'color', 'red'
      
      element.bind 'mouseleave', ->
        element.css 'color', 'black'

      scope.$watch "rate", ((newValue, oldValue) ->
        if !angular.equals(newValue, oldValue)
          if newValue != "Rewelacyjny"
            alert "Czy jesteś pewien tej oceny?"
      ), true
    ...
          </code></pre>
        </section>

        <section data-background="/images/background/escheresque_ste/escheresque_ste_@2X.png" data-background-repeat="repeat" data-background-size="58px">
          <h3>require</h3>
          <pre><code data-trim contenteditable>
movie_app = angular.module 'movieApp',[]

movie_app.directive 'movieHeading', ->
  require: ["^title", "^director"]
  link: (scope, element, attrs, ctrls) ->
    ctrls[0].showTitle("Powrót do Przyszłości")
    ctrls[1].showDirector("Robert Zemeckis")
  ...
          </code></pre>
        </section>

        <section data-background="/images/background/escheresque_ste/escheresque_ste_@2X.png" data-background-repeat="repeat" data-background-size="58px">
          <h3>To też dyrektywy</h3>
          <pre class="fragment roll-in"><code data-trim contenteditable>
            <div ng-app="movieApp"></div>
          </code></pre>
          <pre class="fragment roll-in"><code data-trim contenteditable>
            <div ng-controller="MovieController as movie"></div>
          </code></pre>
          <pre class="fragment roll-in"><code data-trim contenteditable>
            <div ng-include="movie.html"></div>
          </code></pre>
          <pre class="fragment roll-in"><code data-trim contenteditable>
<div ng-repeat="movie in movies">
  <h3>{{movie.title}}</h3>
  <div>{{movie.director}}</div>
</div>
          </code></pre>
          <pre class="fragment roll-in"><code data-trim contenteditable>
<div ng-swith on="movie.title">
  <span ng-switch-default>Tytuł:</span>
  <span ng-switch-when="Powrót do przyszłości">Najlepszy tytuł filmu to:
  </span>{{movie.title}}
</div>
          </code></pre>
          <pre class="fragment roll-in"><code data-trim contenteditable>
<div ng-if="movie.year == 1955">
  Last night, Darth Vader came down from planet Vulcan and told me that
</div>
          </code></pre>
          <pre class="fragment roll-in"><code data-trim contenteditable>
<div ng-show="movie.year == 1955">
  if I didn't take Lorraine out that he'd melt my brain.
</div>
          </code></pre>
          <pre class="fragment roll-in"><code data-trim contented; margin-right: 10px;itable>
            {{movie.title}}
          </code></pre>
          <pre class="fragment roll-in"><code data-trim contenteditable>
<input type="text" ng-model="movie.title" />
<!-- CSS: ng-valid, ng-invalid, ng-prisitne, ng-dirty -->
          </code></pre>
          <pre class="fragment roll-in"><code data-trim contenteditable>
            <input type="text" ng-model="movie.title" ng-change="changeTitle()" />
          </code></pre>
          <pre class="fragment roll-in"><code data-trim contenteditable>
            <button ng-click="mcFly()"></button>
          </code></pre>
        </section>

        <section data-background="/images/background/escheresque_ste/escheresque_ste_@2X.png" data-background-repeat="repeat" data-background-size="58px">
          <h3>I to też</h3>
          <p class="fragment roll-in">ng-href</p>
          <p class="fragment roll-in">ng-src</p>
          <p class="fragment roll-in">ng-disabled</p>
          <p class="fragment roll-in">ng-checked</p>
          <p class="fragment roll-in">ng-readonly</p>
          <p class="fragment roll-in">ng-selected</p>
          <p class="fragment roll-in">ng-class</p>
          <p class="fragment roll-in">ng-style</p>
          <p class="fragment roll-in">ng-view</p>
          <p class="fragment roll-in">ng-form</p>
          <p class="fragment roll-in">ng-submit</p>
          <p class="fragment roll-in">ng-select</p>
          <p class="fragment roll-in">ng-cloak</p>
          <p class="fragment roll-in">ng-init</p>
        </section>

        <section data-background="/images/background/escheresque_ste/escheresque_ste_@2X.png" data-background-repeat="repeat" data-background-size="58px">
          <h3>Gdzie wykorzystać tę moc?</h3>
          <p>Aby połączyć z logiką</p>
          <p>Jako opakowanie dla plugin-ów jQuery</p>
          <p>Modyfikowanie elementów DOM</p>
          <p>DRY</p>
        </section>

        <section data-background="/images/background/back-to-the-future-delorean.jpg" data-background-repeat="repeat">
          <h1 style="color: red;">THE END</h1>
          <br/>
          <br/>
          <br/>
          <p>
            <small><a href="mailto:kamil@briisk.co">kamil@briisk.co</a></small>
          </p>
          <p>
            <small><span>Kamil Augustynowicz</span> / <a href="http://twitter.com/AugKamil">@AugKamil</a> </small>
          </p>
        </section>

      </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js"></script>
    <script src="demo/demo1.js"></script>

    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Parallax scrolling
        // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
        // parallaxBackgroundSize: '2100px 900px',
        // multiplex: {
     //      // Example values. To generate your own, see the socket.io server instructions.
     //      secret: '14016355235276878234', // null so the clients do not have control of the master presentation
     //      id: '69592083c73f089f', // id, obtained from socket.io server
     //      url: 'http://197.168.7.4:8080' // Location of socket.io server
      //   },

        // Optional libraries used to extend on reveal.js
        dependencies: [
          // { src: '//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js', async: true },
          // { src: 'plugin/multiplex/master.js', async: true },
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } }
          // { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },
          // { src: 'plugin/notes-server/client.js', async: true }
        ]
      });

    </script>

  </body>
</html>
